*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
header{
	display: inline-block;
	width: 100%;
}

header .main-menu{
	position: fixed;
    top: 0px;
    left: 0px;
   	vertical-align: top;
   	width: 100%;
    z-index: +1;
}

.diffheader{
    color: black;
    transition: 0.3s;
    position: fixed;
    background-color: White;   
}

header .main-menu .logo{
	float: left;
	width: 15%;
}

header .main-menu .menu{
	width: 85%;
	display: inline-block;	
}
header .main-menu .menu ul.left-menu{
	width: 50%;
}

header .main-menu .menu ul.left-menu li{
	float: left;
	list-style-type: none;
	padding: 27px;
	color: White;
}

header .main-menu .menu li.right-menu{
	width:35%;
}

header .main-menu .menu ul.right-menu{
	padding-right: 50px;
}

header .main-menu .menu ul.right-menu li{
	float: right;
	list-style-type: none;
	padding: 27px;
	color:White;
}
header .main-menu .menu ul.right-menu li.list-button{
	border-radius: 35px;
	background-color: #e81227;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-top: 5px;
	font-size: 14px;

}

.main-container figure.back-image{
	width: 100%;
	height: 100%;
    margin: 0px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    background-position: top right !important;
    background-size: cover !important;
 }

 .main-container .back-image .img-section{
 	width: 100%;
    height: 160px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    background: linear-gradient(0deg, rgba(17,17,17,0) 0%, rgba(17,17,17,0.45) 100%);
 }
 .main-container .back-image .main-img-section{
 	height: 100%;
 }

 .main-container .back-image .main-img-section figcaption{
    width: 65%;
    height: 100%;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 50px;
 }

 .main-container .back-image .main-img-section figcaption .cap-text h1{
 	font-size: 70px;
    line-height: auto;
    color: #fff;
    margin: 0;
    margin-bottom: 60px;
    position: relative;
 }

 .main-container .back-image .main-img-section figcaption .cap-text h1 strong{
 	color:red;
 }

 .main-container .back-image .main-img-section figcaption .cap-text h2 strong{
 	color:red;
 }

.main-container .back-image .main-img-section figcaption .cap-text h2{
	color: #fff;
    margin: 0;
    margin-bottom: 60px;
    position: relative;
    font-size: 32px;
    font-weight: lighter;
}

.main-container .back-image .main-img-section figcaption .cap-text .button-plans, .button-explore{
	display:inline-block;
	margin-bottom:10px;
	margin-right:10px;
	border-radius: 35px;
	background-color: #e81227;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-top: 5px;
	font-size: 12px;
	color:White;
	text-decoration: none;
}

.main-container .social-box{
	position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-container .social-box span{
	color: #fff;
    display: block;
    transform: rotate(90deg);
    margin-bottom: 30px;
}

.main-container .social-box ul.social-right{
	padding:0;
	list-style-type: none;
}

.main-container .social-box ul.social-right li.list-social{
	list-style: none;
    margin-bottom: 10px;
}

.main-container .social-box ul.social-right li.list-social a{
    color: white;
}

.main-container .advantages{
	width: 100%;
    height: auto;
    margin-top:550px;
    padding: 90px 0 0;
    background: #fff;
    display: inline-block;
}

.main-conatainer .advantages .row {
	height: 100%;
}

.main-container .advantages .row .adva-icon{
	padding: 0 30px;
	width: 25%;
	position: relative;
	float:left;
	min-height: 1px;
}

.main-container .advantages .row .adva-icon .icon-text{
	width: 100%;
    height: auto;
    float: left;
}

.main-container .advantages .row .adva-icon .icon-text .icon{
	width: 185px;
    height: 185px;
    margin: 0 auto;
}

.main-container .advantages .row .adva-icon .icon-text h4{
	font-size: 24px;
    text-align: center;
    height: 40px;
    margin-top: 40px;
}

.main-container .advantages .row .adva-icon .icon-text .text{
	width: 100%;
    height: auto;
    padding-left:20px;
}

.main-container .advantages .row .adva-icon .icon-text .text p{
	text-align: center;
    font-size: 16px;
    color: #a3a3a3;
}

.main-container .line-1{
	border-bottom: 1px solid #a3a3a3;
	margin-top: 40px;
	margin-left:30px;
	margin-right: 30px;	
}

.main-container .work {
	padding: 0 0 10px;
    background: #fff;
}

.main-container .work .after-work{
	max-width: 1300px;
}

.main-container .work .after-work h2{
	font-size: 48px;
    color: #111;
    margin: 90px auto 35px;
    text-align: center;
    position: relative;
}

.main-container .work .after-work h2 .line{
	border-bottom: 3px solid red;
	margin-top: 40px;
	margin-left:630px;
	margin-right: 620px;	
}

.main-container .work .after-work h3{
	font-size: 24px;
    margin-top: 20px;
    margin-bottom: 90px;
    text-align: center;
}

.main-container .work .after-work .sidebar-text{
    display: inline-block;
    width: 100%;
}

.main-container .work .after-work .sidebar-text .sidebar{
    width: 50%;
    float: left; 
}

.main-container .work .after-work .sidebar-text .sidebar ul.sidebar-img{
    height: auto;
     display: block;
    width: 100%;
}

.main-container .work .after-work .sidebar-text .text{
    float: left;
    width: 47%;
}
.main-container .work .after-work .sidebar-text .text ul.text-containt{
    list-style-type: none;
    margin-left: 150px;
}

.main-container .work .after-work .sidebar-text .text ul.text-containt li.list-text a{
    text-decoration: none;
    color:#a3a3a3;
    font-weight: 800;
    font-size: 20px;
}

.main-container .work .after-work .sidebar-text .text ul.text-containt li.list-text span{
    font-size: 25px;
    padding:15px 25px 15px 25px;
    font-weight: 700;
}

.main-container .work .after-work .sidebar-text .text ul.text-containt li.list-text p{
    color: #a3a3a3;
    padding-left: 35px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-container .work .after-work .sidebar-text .text ul.text-containt li:hover{
    border: 0px solid;
    padding: 10px;
    box-shadow: 5px 6px 9px 0px #a3a3a3;
}

/*.main-container .work .after-work .sidebar-text .text ul.text-containt li.list-text a:hover{
    color:#b40ab4;
    font-size: 70px;
}*/

.main-container .work .after-work .sidebar-text .text ul.text-containt li.list-text p:hover, li.list-text a:hover{
     color:#b40ab4;
    font-size: 20px;
}


.main-container .owl-carousel{
    display: inline-block;
    width: 100%;
     height: auto;
     margin-left: 15px;
}


/*.main-container .owl-carousel .left-arrow{
    float: left;
    width: 10%;
}

.main-container .owl-carousel .right-arrow{
    float: left;
    width: 10%;
}*/

.main-container .owl-carousel .item{
    display: inline-block;
    /*width: 15%;
}*/}

.main-container .owl-carousel .item img{
    float: left;
  width: 100%;
  height: auto;
}

.main-container .owl-carousel .item.text-slider{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}


.main-container .plan-button .line-2{
    border-bottom: 1px solid #a3a3a3;
    margin-top: 40px;
    margin-left:30px;
    margin-right: 30px; 
}

.main-container .plan-button .plan-button-red a{
    top: -30px;
    left: 0;
    right: 0;
    display: inline-block;
    text-align: center;
    border-radius: 35px;
    background-color: #e81227;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 550px;
    margin-right: 550px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 12px;
    color:White;
    text-decoration: none;
}

.main-container .view-slider .slider-title h2{
    font-size: 48px;
    color: #111;
    margin: 90px auto 15px;
    text-align: center;
    position: relative;
}

.main-container .view-slider .slider-title h2 .line{
    border-bottom: 3px solid red;
    margin-top: 15px;
    margin-left:630px;
    margin-right: 620px;    
}

.main-container .view-slider .slider-title h3{
    font-size: 24px;
    margin-bottom: 90px;
    text-align: center;
}

.main-container .owl-carousel{
    display: inline-block;
    width: 100%;
     height: auto;
     margin-left: 15px;
}


/*.main-container .owl-carousel .left-arrow{
    float: left;
    width: 10%;
}

.main-container .owl-carousel .right-arrow{
    float: left;
    width: 10%;
}*/

.main-container .owl-carousel .item{
    display: inline-block;
    /*width: 15%;
}*/}

.main-container .owl-carousel .item img{
    float: left;
  width: 100%;
  height: auto;
}

.main-container .owl-carousel .item.text-slider{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

/*.main-container .owl-carousel .arrow .left-arrow{
    width: 29px;
    height: 26px;
    display: block;
    background: url(images/left-arrow.png) no-repeat;
    background-size: cover;
    color:red;
}

.main-container .owl-carousel .arrow .right-arrow{
    width: 29px;
    height: 26px;
    display: block;
    background: url(images/left-arrow.png) no-repeat;
    background-size: cover;
    color:red;
}
*/

.main-container .features h2{
    font-size: 48px;
    color: White;
    margin: 90px auto 15px;
    text-align: center;
    position: relative;
    padding-top: 60px;
}

.main-container .features .line{
    border-bottom: 3px solid red;
    margin-left:630px;
    margin-right: 620px;    
}

.main-container .features h3{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 90px;
    text-align: center;
    color:White;
}

.main-container .features{
    /* The image used */
    background-image: url("images/parallax.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

