* {
	box-sizing: border-box; 	
	margin: 0;
	padding:0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
 }
  
 p, li {
 	font-family: 'lato-thin', sans-serif;
 }
/*--------------------------------------------header css --------------------------------------*/

header {
	background-color: #D70310;
	width: 100%;
	height: 107px;
	display: inline-block;
}

header .logo{
	width: 20%;
	float: left;
	padding-left: 120px;	
}

header .menu {
	width: 80%;
	list-style-type: none;
    float: left;
    text-align: center;
    font-size: small;
}

header ul{
	padding-top: 42px;
}

#main-menu li {
    border-right: 1px solid lightgrey;
    line-height: 6px;
}

#main-menu li:last-child {
    border: none;
}

header .menu ul.header-menu li {
	 display:inline-block;
	 list-style-type: none;
	 font-size: 17px;
	 padding: 10px;
	 text-align: center;
	 background-color: #D70310;
	 color: White;
	 font-size: small;
}

header .menu ul.header-menu li a{
	color:White;
	text-decoration: none;
	font-size: 14px;
}

#main-menu li a:hover{
	font-weight: bold;
}

/*--------------------------body css----------------------------------*/
/*-------------------left sidebar css------------------------------------*/

.main-container {
	width: 100%;
	display: inline-block;
	padding-top: 70px;
	font-family: "lato thin";
}

.main-container .left-sidebar{
		width: 30%;
		float: left;
		padding-left: 94px;	
}

.main-container .left-sidebar p{
	text-align: left;
	height: 100px;
    color:#bbb6bb;
    font-size: 13px;
    padding: 20px 52px 0px 44px;
}

.main-container .left-sidebar ul.sidebar-menu  li a{
	color:black;
	text-decoration: none;
}

.main-container .left-sidebar ul.sidebar-menu li{
	margin: 0;
    border-bottom: 1px solid #9B999F;
    padding-bottom: 15px;
    margin-bottom: 15px;
    display: inline-block;
    width: 70%;
    font-size: 14px;

}

.main-container .left-sidebar ul.sidebar-menu li img{
	height: 8px;
}

.main-container .left-sidebar ul.sidebar-menu{
	list-style-type: none;  
	padding-left: 47px;
    margin-top: 15px;
}

 .main-container .left-sidebar form{
 	text-align: center;
    display: inline;
    width: 100%;
}

.main-container .left-sidebar form input{
	margin-left: 45px;
    margin-top: 4px;
	border-color: #eae9e9;
	border-width: 1px;
    border-style: double;
    text-align: left;
    box-sizing: border-box;
    padding: 6px
}
.main-container .left-sidebar form input::placeholder{
	color:lightgrey;
}

.main-container .left-sidebar form #button{
	background-color: #D70310;
    border: none;
    color: white;
    padding: 5px 40px 5px 10px;
    text-align: left;
    display: inline-block;
    font-size: 13px;
    margin: 20px 70px;
    border-radius: 5px;
    font-weight: 800;
}

/*-------------------right sidebar css------------------------------------*/

.main-container .right-sidebar{
	width: 70%;
	float:left;

}

.main-container .right-sidebar .book-cassie h1{
	color: red;
	font-size: 60px;
	font-weight: 100;
	line-height: 0px;
	letter-spacing: -2px;
	margin: 0;
    border-bottom: 1px solid #D70310;
    padding-bottom: 30px;
    margin-bottom: 30px;
    display: inline-block;
    width: 95%;
    margin-top: 30px;
}

.main-container .right-sidebar .book-cassie h2{	
	letter-spacing: 0px;
	font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.main-container .right-sidebar h3{
	color:#D70310;
	letter-spacing: 0px;
	font-weight: bold;
	margin-bottom: 15px;
    font-size: 15px;
}

.main-container .right-sidebar .book-cassie p{
	color: #bbb6bb;
	font-size: 13px;
	margin-bottom: 15px;
}

.main-container .book-cassie, .topics{
	margin: 0;
    border-bottom: 1px solid #9c9c9c;
    padding-bottom: 15px;
    margin-bottom: 25px;
    display: inline-block;
    width: 88%;
}

.main-container .right-sidebar .topics .topics-menu{
	color: #b9b3b3;
	margin: 0;
    padding: 0;
    padding-bottom: 15px;
    font-size: 13px;

}

.main-container .right-sidebar .topics ul.topics-menu{
	list-style-type: none;
}

.main-container .right-sidebar .topics .topics-menu li{
	padding-bottom: 3px;
}
.main-container .right-sidebar .topics .topics-menu li img{
	height: 7px;
}

.main-container .right-sidebar .video video{
	width: 70%;
	height: 300px;
	padding-bottom: 50px;
}

/*-----------------------------------------------footer css------------------------*/

footer{
	display: inline-block;
    width: 100%;
    background-color: #737277;
    vertical-align: top;
    padding-top: 20px;
    padding-left: 50px;
    height: auto;
}


footer .footer-menu ul.bottom-first-menu{
	float: left;
	width: 16.666666667%;
	padding-left: 65px;
	padding-top: 10px;
}

footer .footer-menu ul li{   /*for every li tag of footer */
	margin: 0;
    border-bottom: 1px dotted #9B999F;
    padding-bottom: 7px;
    margin-bottom: 10px;
    display: inline-block;
    width: 70%;
    font-size: 15px;
}

footer .footer-menu ul.bottom-first-menu li:last-child {
    border: none;
}

footer .footer-menu ul.bottom-second-menu {
	border-right: 1px solid #9B999F;
	height: 165px;
	padding-top: 10px;
}

footer .footer-menu ul.bottom-second-menu{
	float: left;
	width: 16.666666667%;
	padding-left: 20px;
}

footer .footer-menu ul li a{
	color:White;
	text-decoration: none;
}

footer .footer-menu ul li a{
	color:White;
	text-decoration: none;
	list-style-type: none;
}

footer .social{
	float: left;
	width: 33.333333333%;
	font-size: 20px;
	padding-left: 20px;
	color: #AFAEB4;
}

footer .social h5{
	margin: 10px;
}

footer .social .images img{
    height: 30px;
    margin: 2px;
}

footer .social .images{
	height: 30px;
	padding-left: 10px;
}
footer .logo-display{
	float:left;
	width: 33.333333333%;
	border-left: 1px solid #9B999F;
	padding-left: 30px;
	margin-top: 0px;
}

footer .logo-display img{
	height: 160px;
}
.copy-right{
	width: 100%;
	display: inline-block;
	text-align: Center;
	background-color: #D70310;
	color: White;
	padding: 30px;
}

/*--------------------------- gallery page css----------------------------------*/

.wrapper {
	margin: 0 auto;
	max-width: 1140px; 
	/*width: 900px;*/
}

.main-gallery .wrapper .gallery-grid{
	/*display: flex;*/
	width: 100%;
}

.main-gallery .wrapper .gallery-grid .row{
	width: 100%;
	display: flex;
}
.main-gallery .wrapper .gallery-grid .row .one-third{
	width: 33.333333%;
	height: auto;
	margin-bottom: 15px;
	margin-left: 15px;
	text-align: center;
}

.main-gallery h1{
	color: red;
	text-align: center;
	text-decoration: underline;
	font-weight: 500;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 40px;
	font-family: 'Montserrat' 
}

.main-gallery .wrapper .gallery-grid .row .text {
	color: blue;
	margin-left: 10px;
	text-align: center;

}
.main-gallery .gallery-grid .row .category{
	color:green;
	margin-left: 10px;
	padding-bottom: 20px;
	text-align: center;
}

.main-gallery .wrapper h2{
	text-align: center;
	color:orange;
	margin-top: 20px;
}

.main-gallery .pagination {
    display: inline-block;
    margin-left: 490px
}

.main-gallery .pagination a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    color:green;
}
.main-gallery .wrapper .parent-pagination{
	display: inline-block;
	width: calc(100% - 10px);
}